<h1>Write an article!</h1>
<form action="/articles" method="post">
    <p><label for "title"> Title: </label>
    <input id= "title" type="text" name="article[title]"></input></p>
    <p><label for "content"> Content: </label>
    <input id= "content" type="text" name="article[content]"></input></p>
    <input id= "submit" type="submit">