<h1>Article</h1>

<p><%= @article.title %> - <%= @article.content %></p>

<form action="/articles/<%=@article.id%>" method"post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>
